In [ ]:
'''
GENERAL ASSEMBLY DSI_PROJECT 5 (RANDOM FORESTS REGRESSOR)

-ADAM AHMED
'''

In [57]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import roc_auc_score

In [58]:
# Importing the data

X = pd.read_csv('train.csv')
y = X.pop('Survived')

In [59]:
# Taking a look at the numerical data

X.describe()

# Notice Age is missing some values, lets take care of those

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean    446.000000    2.308642   29.699118    0.523008    0.381594   32.204208
std     257.353842    0.836071   14.526497    1.102743    0.806057   49.693429
min       1.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000    2.000000   20.125000    0.000000    0.000000    7.910400
50%     446.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%     668.500000    3.000000   38.000000    1.000000    0.000000   31.000000
max     891.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [60]:
# Imputing the age with the mean

X["Age"].fillna(X.Age.mean(), inplace=True)
X.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  891.000000  891.000000  891.000000
mean    446.000000    2.308642   29.699118    0.523008    0.381594   32.204208
std     257.353842    0.836071   13.002015    1.102743    0.806057   49.693429
min       1.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000    2.000000   22.000000    0.000000    0.000000    7.910400
50%     446.000000    3.000000   29.699118    0.000000    0.000000   14.454200
75%     668.500000    3.000000   35.000000    1.000000    0.000000   31.000000
max     891.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [61]:
def describe_categorical(X):
    '''
    Just like .describe(), but returns results for categorical values only
    '''
    from IPython.display import display, HTML
    display(HTML(X[X.columns[X.dtypes == 'object']].describe().to_html()))
    
describe_categorical(X)

In [62]:
X.drop(['Name', 'Ticket', 'PassengerId', 'Cabin'], axis=1, inplace=True)

In [63]:
categorical_variables = ['Sex', 'Embarked']

for i in categorical_variables:
    # Fill missing data
    X[i].fillna('Missing', inplace=True)
    
    # Create arry of dummies
    dummies = pd.get_dummies(X[i], prefix=i)
    
    # Update X to include dummies and drop the main variable
    X = pd.concat([X, dummies], axis=1)
    X.drop([i], axis=1, inplace=True)

In [64]:
model = RandomForestRegressor(777, oob_score=True, n_jobs=-1, random_state=7)
model.fit(X, y)
print "C-stat: ", roc_auc_score(y, model.oob_prediction_)

C-stat:  0.862312125182