# Random Forests Classifier Practice

## Dataset:  Titanic
### https://www.kaggle.com/c/titanic

In [48]:
import pandas as pd
from IPython.display import display, HTML
from sklearn.ensemble import RandomForestClassifier
from sklearn.cross_validation import train_test_split
from sklearn.metrics import roc_auc_score

In [49]:
# Importing the data

X = pd.read_csv('train.csv')
y = X.pop('Survived')

In [50]:
# Taking a look at the numerical data

X.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean    446.000000    2.308642   29.699118    0.523008    0.381594   32.204208
std     257.353842    0.836071   14.526497    1.102743    0.806057   49.693429
min       1.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000    2.000000   20.125000    0.000000    0.000000    7.910400
50%     446.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%     668.500000    3.000000   38.000000    1.000000    0.000000   31.000000
max     891.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [51]:
# Notice 'Age' is missing some values, lets take care of those
# Imputing the age with the mean

X['Age'].fillna(X.Age.mean(), inplace=True)
X.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  891.000000  891.000000  891.000000
mean    446.000000    2.308642   29.699118    0.523008    0.381594   32.204208
std     257.353842    0.836071   13.002015    1.102743    0.806057   49.693429
min       1.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000    2.000000   22.000000    0.000000    0.000000    7.910400
50%     446.000000    3.000000   29.699118    0.000000    0.000000   14.454200
75%     668.500000    3.000000   35.000000    1.000000    0.000000   31.000000
max     891.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [52]:
# Describing categoricals

def describe_categorical(X):
    display(HTML(X[X.columns[X.dtypes == 'object']].describe().to_html()))
    
describe_categorical(X)

In [53]:
# Drop 'PassengerId' and 'Name'

X.drop(['PassengerId', 'Name'], axis=1, inplace=True)

In [54]:
# Label Encoder for categoricals

categorical_variables = ['Sex', 'Embarked', 'Ticket', 'Cabin']

for i in categorical_variables:
    # Fill missing data
    X[i].fillna('Missing', inplace=True)
    
    # Creating dummies
    dummies = pd.get_dummies(X[i], prefix=i)
    
    # Append X to include dummies and drop the main variable
    X = pd.concat([X, dummies], axis=1)
    X.drop([i], axis=1, inplace=True)

In [55]:
# Test, train, split the data

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.25)

In [56]:
# Fitting and Scoring the model

model = RandomForestClassifier(777, n_jobs=-1, random_state=7)
model.fit(X_train, y_train)
print 'model score = ', model.score(X_test, y_test)

model score =  0.847533632287